// welcome section
.welcome-section {
  .section-title {
    font-weight: 300;
    span {
      font-weight: 500;
      color: olivedrab;
    }
  }
}

/* news list */
.events-header {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #666666;
}
.news-list {
  padding: 0;
  list-style: none;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 20px;
      // background: url(../images/separator_stripe.png) repeat-x bottom;
    }
    .entry-date {
      color: #f05a21;
      text-transform: uppercase;
      line-height: 24px;
    }
    .event-name {
      font-size: 32px;
      padding: 10px 0;
      color: #9fbf04;
      font-weight: 300;
      margin: 0;
    }

    .contact-block {
      &__list {
        display: flex;
        align-items: center;
        font-weight: 300;
        margin: 5px 0;
        .icon {
          width: 18px;
          height: 18px;
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
  }
}

/*----------- Entries --------------*/

.entry .entry-meta .entry-date {
  text-transform: uppercase;
  color: #f05a21;
}

.entry .entry-body .entry-title > a {
  color: #adc84b;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -0.5px;
}

.entry .entry-body .entry-title:not(:last-child) {
  margin-bottom: 9px;
}

.entry .entry-body .entry-title > a:hover {
  text-decoration: underline;
}

#footer .entry .entry-meta .entry-date {
  color: #b9b9b9;
}

.entry .contact-info-item {
  color: #666;
  margin-top: 0;
}

.entry .contact-info-item span a {
  color: #a6c437;
}

.entry .entry-meta > * {
  display: inline-block;
  font-size: 14px;
}

.entry .entry-meta > *:not(:last-child) {
  margin-right: 15px;
}

.welcome-item.single-item .bigHalfCircle {
  display: none;
}

.welcome-item.single-item .welcome-content {
  background: #fafafa;
}

.entry .entry-meta a {
  color: #333;
}

.entry .entry-meta a:hover {
  text-decoration: underline;
}

.entry .entry-meta a:before,
.entry .entry-meta > .entry-tags:before {
  display: inline-block;
  margin-right: 8px;
  color: #b9b9b9;
  font-family: 'fontello';
}

// why choose us
.why-choose {
  .flex__block {
    &__list--4 {
      border-right: 1px dashed #e1e1e1;
      @media (max-width: 960px) {
        flex-basis: 50%;
        border: 1px dashed #e1e1e1;
      }
      @media (max-width: 540px) {
        flex-basis: 100%;
        border: 1px dashed #e1e1e1;
      }
    }
  }
  .card-wrap {
    padding: 0 20px;
    text-align: center;
    position: relative;
  }
  .card-item {
    position: relative;
    .icon {
      position: relative;
      font-size: 48px;
      color: #fff;
      width: 82px;
      height: 82px;
      line-height: 82px;
      text-align: center;
      border-radius: 50px;
      margin-bottom: 15px;
      display: inline-block;
      transform: rotate(-11deg);
      &--one {
        background-color: #ffbd0a;
      }
      &--two {
        background-color: #a7c439;
      }
      &--three {
        background-color: #ee5a36;
      }
      &--four {
        background-color: #57c9c4;
      }
    }
    h4 {
      font-size: 30px;
      margin-bottom: 20px;
      a {
        color: #666666;
      }
    }
    p {
      color: #858585;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
}

.parallax-section {
  padding: 90px 0;
  position: relative;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 100%;
  width: 100%;
  background-size: cover !important;
}
.page-section {
  padding: 90px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.title-holder {
  margin-bottom: 40px;
}
.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
  margin-bottom: 40px;
}

// our class
.our-class {
  background-color: orange;
  height: auto;

  h4 {
    font-size: 28px;
    color: #3cd53c;
    margin: 30px 0;
  }
  img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }

  .details__block {
    padding: 20px 15px 0;
    margin: 20px 0 15px;
    border-top: 1px dotted;
  }
  .details__list {
    display: flex;
    justify-content: space-between;

    h5 {
      font-size: 16px;
      color: red;
      margin: 5px 0;
    }
  }
}
