<!-- welcome section  -->
<section class="page-section welcome-section">
  <div class="cotainer">
    <div class="flex__block">
      <div class="flex__block__list--2">
        <img class="img-fluid rounded" src="assets/img/home/kids.jpg" alt="" />
      </div>
      <div class="flex__block__list--2">
        <div class="title-holder">
          <h2 class="section-title">
            Welcome to St.Xavier Public School of Early Learning
          </h2>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa amet
          nobis odit omnis corporis mollitia! Harum, numquam consectetur dicta
          magni delectus ratione. Fugit voluptatem hic eum, optio voluptatibus
          omnis nemo.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis
          necessitatibus reprehenderit iure, reiciendis totam quisquam!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa amet
          nobis odit omnis corporis mollitia! Harum, numquam consectetur dicta
          magni delectus ratione. Fugit voluptatem hic eum, optio voluptatibus
          omnis nemo.
        </p>
        <div class="action">
          <button mat-raised-button color="primary">More about us</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- why choose us  -->
<section class="page-section why-choose">
  <div class="container">
    <div class="text-center">
      <h2 class="section-title">Why Choose Us</h2>
    </div>
    <div class="flex__block">
      <div class="flex__block__list--4">
        <div class="card-wrap">
          <div class="card-item">
            <div class="item-box">
              <mat-icon
                class="icon icon--one"
                aria-hidden="false"
                aria-label="child care icon"
                fontIcon="child_care"
              ></mat-icon>

              <h4><a href="#">Child Care</a></h4>
              <p>
                Labore sit nobis ex veritatis deserunt expedita, tempore tenetur
                molestiae accusantium cum tempora consequatur laborum.
              </p>
              <a href="#" class="btn btn-radius btn-outline">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex__block__list--4">
        <div class="card-wrap">
          <div class="card-item">
            <div class="item-box">
              <mat-icon
                class="icon icon--two"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="outdoor_grill"
              ></mat-icon>
              <h4><a href="#">Health Meals</a></h4>
              <p>
                Labore sit nobis ex veritatis deserunt expedita, tempore tenetur
                molestiae accusantium cum tempora consequatur laborum.
              </p>
              <a href="#" class="btn btn-radius btn-outline">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex__block__list--4">
        <div class="card-wrap">
          <div class="card-item">
            <div class="item-box">
              <mat-icon
                class="icon icon--three"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="school"
              ></mat-icon>
              <h4><a href="#">Learning &amp; Fun</a></h4>
              <p>
                Labore sit nobis ex veritatis deserunt expedita, tempore tenetur
                molestiae accusantium cum tempora consequatur laborum.
              </p>
              <a href="#" class="btn btn-radius btn-outline">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex__block__list--4">
        <div class="card-wrap border-none">
          <div class="card-item">
            <div class="item-box">
              <mat-icon
                class="icon icon--four"
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="stadium"
              ></mat-icon>
              <h4><a href="#">Physical Activity</a></h4>
              <p>
                Labore sit nobis ex veritatis deserunt expedita, tempore tenetur
                molestiae accusantium cum tempora consequatur laborum.
              </p>
              <a href="#" class="btn btn-radius btn-outline">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our class  -->
<section
  class="parallax-section our-class"
  style="background-image: url('assets/img/home/parallax-2.jpg')"
>
  <div class="container">
    <div class="title-holder text-center">
      <h2 class="section-title white-color">Our Class</h2>
      <p class="white-color">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, nemo?
      </p>
    </div>
    <div class="flex__block">
      <div class="flex__block__list--3">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="assets/img/home/yoga.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <h4><a href="#">Yoga Class</a></h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
              aliquam necessitatibus fuga illo harum odio?
            </p>
          </mat-card-content>
          <div class="details__block">
            <div class="details__list">
              <div class="details__item">
                <small>AGE</small>
                <h5>4-6 Years</h5>
              </div>
              <div class="details__item">
                <small>CLASS</small>
                <h5>Monty I & II</h5>
              </div>
              <div class="details__item">
                <small>TEACHER</small>
                <h5>Aarthi</h5>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="flex__block__list--3">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="assets/img/home/art.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <h4><a href="#">Art Class</a></h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
              aliquam necessitatibus fuga illo harum odio?
            </p>
          </mat-card-content>
          <div class="details__block">
            <div class="details__list">
              <div class="details__item">
                <small>AGE</small>
                <h5>4-6 Years</h5>
              </div>
              <div class="details__item">
                <small>CLASS</small>
                <h5>Grade I & II</h5>
              </div>
              <div class="details__item">
                <small>TEACHER</small>
                <h5>Priya</h5>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="flex__block__list--3">
        <mat-card class="example-card">
          <img
            mat-card-image
            src="assets/img/home/karate.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <h4><a href="#">Karate Class</a></h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
              aliquam necessitatibus fuga illo harum odio?
            </p>
          </mat-card-content>
          <div class="details__block">
            <div class="details__list">
              <div class="details__item">
                <small>AGE</small>
                <h5>4-6 Years</h5>
              </div>
              <div class="details__item">
                <small>CLASS</small>
                <h5>Grade I to X</h5>
              </div>
              <div class="details__item">
                <small>TEACHER</small>
                <h5>Livingston</h5>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>
