<nav class="nav">
  <div class="nav__block">
    <div class="nav__list">
      <div class="logo">
        <h2>St.Xavier's Public School</h2>
        <!-- <img src="" alt=""> -->
      </div>
    </div>
    <div class="nav__list">
      <ul class="menu">
        <li class="menu__list"><button mat-button>Home</button></li>
        <li class="menu__list"><button mat-button>About</button></li>
        <li class="menu__list"><button mat-button>Gallery</button></li>
        <li class="menu__list"><button mat-button>Services</button></li>
        <li class="menu__list"><button mat-button>Contact</button></li>
      </ul>
    </div>
  </div>
</nav>

<app-home-banner></app-home-banner>
<app-why-choose-us></app-why-choose-us>
