a:hover,
a,
a:visited {
  text-decoration: none;
  transition: all 0.2s ease-in;
  color: inherit;
}
body {
  color: #666;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif !important;
}
.border-none {
  border: none !important;
}
.white-color {
  color: white !important;
}
