<div class="slider">
  <!-- slider config  -->
  <carousel
    [noWrap]="noWrapSlides"
    [showIndicators]="showIndicator"
    [isAnimated]="isAnimated"
    [interval]="5000"
  >
    <!-- slider image array  -->
    <slide *ngFor="let slide of sliderImages; let index = index">
      <img
        [src]="slide.image"
        alt="image slide"
        style="display: block; width: 100%"
      />

      <!-- slider text  -->
      <div class="carousel-caption">
        <h4>{{ slide.title }}</h4>
        <p>{{ slide.helpText }}</p>
      </div>
    </slide>
  </carousel>
</div>
